@model string

<!DOCTYPE html>
<html>
<head>
    <title>Visualizzazione Nome</title>
</head>
<body>
    <h1>Nome Estratto: @Model</h1>
    <div>
        
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</body>
</html>
